# Ignore all log files
*.log

# Ignore temp directory and its contents
/temp/

# Ignore all files named secrets.txt anywhere in the repo
secrets.txt

# Ignore build directory
/build/

Prototype 1/Horizontal Prototype/Shortlist -  Materials AB Testing 2/Library/
