# Ignore all log files
*.log

# Ignore temp directory and its contents
/temp/

# Ignore all files named secrets.txt anywhere in the repo
secrets.txt

# Ignore build directory
/build/

Prototype 1/Lighting On/Off/
Prototype 1/Pick&Drop - Materials/Library/
Prototype 1/Shortlist -  Materials AB Testing 1/Library/
Prototype 1/Shortlist -  Materials AB Testing 2/Library/
